
<aside
id="layout-menu"
class="layout-menu menu-vertical menu bg-menu-theme"
>
<div class="app-brand demo">
  <a href="index.html" class="app-brand-link">
    <img
      class="logo-img"
      src="./assets/img/icons/brands/logo.svg"
      alt="img"
    />
  </a>

  <a
    href="javascript:void(0);"
    class="layout-menu-toggle menu-link text-large ms-auto"
  >
    <i class="bx bx-chevron-left d-block align-middle"></i>
  </a>
</div>

<div class="menu-divider mt-0"></div>

<div class="menu-inner-shadow"></div>

<ul class="menu-inner py-1">
  <!-- Dashboards -->
  <li class="menu-item">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"  class="menu-link">
      <i class="menu-icon tf-icons bx bx-home-smile"></i>
      <div class="text-truncate" data-i18n="Dashboards">
        Dashboards
      </div>
    </a>
  </li>
  <li class="menu-item">
    <a routerLink="/product-list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="menu-link">
      <i class="menu-icon tf-icons bx bx-box"></i>
      <div class="text-truncate" data-i18n="eCommerce">
        Product List
      </div>
    </a>
  </li>
  <li class="menu-item">
    <a routerLink="/add-product" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="menu-link">
      <i class="menu-icon tf-icons bx bx-detail"></i>
      <div class="text-truncate" data-i18n="eCommerce">
        Add Product
      </div>
    </a>
  </li>
</ul>
</aside>