<div>
  <h2>Original Value - {{ currentTime }}</h2>
  <h3>After Pipe - {{ currentTime | async | date : "hh:mm:ss" }}</h3>
</div>
<div>
  <h2>Original Value - {{ student.state }}</h2>
  <h3>After Pipe - {{ student.state | nA }}</h3>
</div>
@if(showRole=='User Role'){
<div class="">User Role(13)</div>
}@else if(showRole=='Guest Role'){
<div class="">Guest Role(20)</div>
}
<ul>
  @for( item of resourceData;track $index){
      <li>
        {{item.id}},{{item.name}},{{item.data?.color}}
      </li>
  }
</ul>
